<!DOCTYPE html>
<html>
<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>DeskApp - Bootstrap Admin Dashboard HTML Template</title>
    <!-- Site favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/vendors/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/vendors/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/vendors/images/favicon-16x16.png">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="~/vendors/styles/core.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/styles/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/src/plugins/datatables/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/src/plugins/datatables/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/styles/styled.css">
    <link rel="stylesheet" href="~/font-awesome/css/all.css" />
    
</head>
<body>
    <div class="header">
        <div class="header-left">
            <div class="menu-icon dw dw-menu"></div>
            <span>&nbsp;&nbsp;&nbsp;</span>
            @*   <a class="btn btn-danger" asp-controller="Home" asp-action="Index">Quay về Website</a>*@
        </div>
        <span>
            <partial name="_LoginPartial.cshtml" />
        </span>
        </a>
        @*
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">*@
        @*<a class="dropdown-item" href="profile.html"><i class="dw dw-user1"></i> Profile</a>
            <a class="dropdown-item" href="login.html"><i class="dw dw-logout"></i> Log Out</a>*@
        @*
            </div>
        *@
    </div>
    <div class="left-side-bar">
        <div class="brand-logo">
            <a asp-controller="Admin" asp-action="Index">
                @* <img src="~/vendors/images/deskapp-logo.svg" alt="" class="dark-logo">
                    <img src="~/vendors/images/deskapp-logo-white.svg" alt="" class="light-logo">*@
            </a>
            <div class="close-sidebar" data-toggle="left-sidebar-close">
                <i class="ion-close-round"></i>
            </div>
        </div>
        <div class="menu-block customscroll">
            <div class="sidebar-menu">
                <ul id="accordion-menu">
                    <li>
                        <a asp-controller="Admin" asp-action="Index" class="dropdown-toggle no-arrow">
                            <span class="micon dw dw-house-1"></span><span class="mtext">Home</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Category" asp-action="Index" class="dropdown-toggle no-arrow">
                            <span class="micon dw dw-list3"></span><span class="mtext">Quản lý thể loại</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Blog" asp-action="Index" class="dropdown-toggle no-arrow">
                            <span class="micon dw dw-newspaper"></span><span class="mtext">Quản lý bài viết</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Admin" asp-action="Support" class="dropdown-toggle no-arrow">
                            <span class="micon dw dw-support"></span><span class="mtext">Quản lý hỗ trợ</span>
                        </a>
                    </li>
                    @*
                        <li>
                           <a asp-controller="Admin" asp-action="Blog" class="dropdown-toggle no-arrow">
                           <span class="micon dw dw-support"></span><span class="mtext">Support</span>
                           </a>
                        </li>
                    *@
                </ul>
            </div>
        </div>
    </div>
    <div class="mobile-menu-overlay"></div>
    <div>
        <div class="main-container">
            <main role="main">
                @RenderBody()
            </main>
        </div>
    </div>
    <!-- js -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="~/vendors/scripts/core.js"></script>
    <script src="~/vendors/scripts/script.min.js"></script>
    <script src="~/vendors/scripts/process.js"></script>
    <script src="~/vendors/scripts/layout-settings.js"></script>
    <script src="~/src/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/src/plugins/datatables/js/dataTables.responsive.min.js"></script>
    <script src="~/src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>