<!DOCTYPE html>
<html>
<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>Admin Page</title>
    <!-- Site favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/adminJS/vendors/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/adminJS/vendors/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/adminJS/vendors/images/favicon-16x16.png">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="~/adminJS/vendors/styles/core.css">
    <link rel="stylesheet" type="text/css" href="~/adminJS/vendors/styles/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/adminJS/vendors/styles/style.css">
</head>
<body class="login-page">
    @RenderBody()
    <script src="~/adminJS/vendors/scripts/core.js"></script>
    <script src="~/adminJS/vendors/scripts/script.min.js"></script>
    <script src="~/adminJS/vendors/scripts/process.js"></script>
    <script src="~/adminJS/vendors/scripts/layout-settings.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>