@model Blog
@{ Layout = "~/Views/Shared/_LayoutDashBoard.cshtml"; }

<div class="main-container">
    <form method="post" asp-action="DeleteBlog">
        <input asp-for="Id" hidden />
        <div>
            <div class="form-group row">
                <h2 class="text-info">Xóa</h2>
            </div>
            <div class="row">
                <div class="col-8">
                    <p class="text-center">Bạn có chắc chắn là muốn xóa thể loại bài viết này không.</p>
                    <div class="row form-group">
                        <div class="col">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>